src/main/resources/sample/repo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   targetNamespace="repo" xmlns="repo"
	elementFormDefault="qualified">
	
	<xs:element name="repository">
		<xs:complexType>
			<xs:choice>
				<xs:element name="file"></xs:element>
				<xs:element name="dir"></xs:element>
			</xs:choice>
		
		</xs:complexType>
	</xs:element>

</xs:schema>