src/main/resources/sample/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
 targetNamespace="http://www.example.org/test" 
 elementFormDefault="qualified">
<element name="da">
		<complexType>
			<sequence>
				<element name="ddd"></element>
				<element name="ddd2"></element>
			</sequence>
		</complexType>
	</element>
</schema>